*,
*::after,
*::before {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Kantumruy+Pro", sans-serif;
  /*background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(11, 28, 0));
  */
 
}

.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 30px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(180deg, rgb(242, 255, 237), rgb(199, 227, 189));

}

.navbar {

    display: flex;
    justify-content: space-between;
    z-index: 1030;
    /*background: #0000005f;*/
    
    transition: 0.5s;
}
.navbar.scroll{
    background-color: #f2fff0;
    /*box-shadow: 3px 3px 3px rgb(0, 0, 0);
    */
    
}
.navbar-brand{
    font-weight: bolder;
    padding-left: 180px;
    padding-top: 10px;
    font-size: 30px;
    color: #ffffff !important;
    text-transform: capitalize;
    text-shadow: -2px -2px 0 #062600, 2px -2px 0 #062600, -2px 2px 0 #062600, 2px 2px 0 #062600;
}

.navbar-brand span{
    font-weight: bolder;
    padding-top: 10px;
    font-size: 30px;
    color: #FFD600 !important;
    text-transform: capitalize;
    text-shadow: -2px -2px 0 #062600, 2px -2px 0 #062600, -2px 2px 0 #062600, 2px 2px 0 #062600;
}

.navbar-nav {
    padding-right:100px;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-link {
    font-weight: bold;
    color: #ffffff !important;
    margin-left: 5px;
    transition: 0.6s;
    border-radius: 20px;
    text-transform: capitalize;
    text-shadow: -2px -2px 0 #062600, 2px -2px 0 #062600, -2px 2px 0 #062600, 2px 2px 0 #062600;
  }
  
  .nav-link:hover{
    transform: translateY(-5px);
    background-color:  #0000003a;
  }

  .nav-item {
    padding-top: 10px;
    padding-right: 50px;
    font-size: 21px;
    display: flex;
    text-align: right;
    list-style-type: none;
  }
  
  .faq-title {
    display: grid;
    grid-template-columns: 33.3%;
    max-width: 300px;
    margin: 0;
    margin-left: 88px;
    padding-top: 140px;
    color: #f3e768;
  }

  .faq-title h1 {
    padding-top: 23px;
    height: 90px;
    width: 273px;
    font-size: 43px;
    text-align: center;
  
    margin-bottom: 0;
    background-color: #223e29;
    box-shadow: 8px 7px 8px black;
  }
  .faqs {
    margin-top: 100px;
    grid-column: 2/span 10;
  }

  .faq-container {
    justify-content: flex-start;
    position: relative;
    right: 150px;
    width: 147%;
    max-width: 700px;
    margin: auto;
    font-family: "Kantumruy+Pro", sans-serif;
}

.faq-question {
  position: relative;
  border-radius: 6px;
  top: 10px;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid;
    background-image: linear-gradient(180deg, rgb(242, 255, 237), rgb(199, 227, 189));
}

.faq-answer {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    display: none;
}

.faq-question:hover .faq-answer {
    display: block;
}

.resources {
  margin-top: 100px;
  grid-column: 2/span 10;
  margin-bottom: 100px;
}
.res-title {
  justify-content: flex-start;
  position: relative;
  width: 147%;
  margin-bottom: 20px;
  font-family: "Kantumruy+Pro", sans-serif;
}



  .event{
    margin:0px;
    background-color: #FFFDF5;
  }
  
  .event-content {
    cursor: text;
    background-image: linear-gradient(180deg, rgb(242, 255, 237), rgb(199, 227, 189)) !important;
    border-bottom: 1px solid;
    border-radius: 6px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  
  .event-content h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

  footer{
    height:100px;
    padding: 20px 40px;
    background: #ffffff;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(26, 41, 20), rgb(111, 157, 80));
  
   
  }
  footer h1 {
    position: relative;
    font-size: 20px;
    grid-column: 1/span 7;
    color: #ffffff;
    font-weight: bold;
    text-shadow: -2px -2px 0 #062600, 2px -2px 0 #062600, -2px 2px 0 #062600, 2px 2px 0 #062600;
  }
  footer nav {
    position: relative;
    grid-column: 9/span 6;
    justify-content: flex-end;
    
    
    
  }
  footer nav a {
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
    
  }
  
  .foot-link {
    font-weight: bold;
    color: #ffffff !important;
    transition: 0.6s;
    border-radius: 20px;
    text-transform: capitalize;
    text-shadow: -2px -2px 0 #062600, 2px -2px 0 #062600, -2px 2px 0 #062600, 2px 2px 0 #062600;
  }
  
  @media screen and (max-width: 960px) {
    .navbar-brand {
      position: relative;
      font-size: 100%;
      right: 20px;
    }
    .navbar-brand span {
      position: relative;
      font-size: 100%;
    }
    .navbar-nav {
      position: relative;
      padding-right: 0;
      display: flex;
      justify-content: center;
    }
    .navbar-nav .nav-item {
      font-size: 100%;
      position: relative;
      left: 170px;
    }
    .faqs {
      margin-top: 300px;
    }
    .faq-container {
      position: relative;
      right: 0px;
      width: 147%;
      margin: auto;
      font-family: "Kantumruy+Pro", sans-serif;
    }
    footer h1 {
      font-size: 80%;
    }
    footer .foot-link{
      grid-column: 2 / span 10;
      font-size: 80%;
    }
  }
